* {
    box-sizing: border-box;
    font-family: "Fira Sans";
    font-size: 16px;
    margin: 0;
}
:root{
    --mainGreen:#489078;
    --lightGray:#605858;
    --darkGray:#353131;
    --mainWhite:#e9e8e5;
    --selectedGray:#353131;
    --mainRed:#EB5757;
    --buttonGray: #837C7C;
    --cartGrey: #C2C1C1;
}

.loggan{
    width: 39px;
    height: 38px;
    
}



  