.menysida {
    background-color: var(--mainGreen);
    color: var(--mainWhite);
    display: flex;
    flex-direction: column;
    /* height: 100vh; */


.menytitel {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1em;
}

.matval {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightGray);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.menyval-button {
	width: 100%;
	padding: 1rem;
	border-radius: 0;
	background-color: var(--lightGray);
}
.menyval-button:hover{
	background-color: var(--darkGray);
}
.menyval {
    display: flex;
    flex-direction: column;
	
    
}
.mellanstreck {
    border-bottom: dotted var(--mainWhite);
    flex-grow: 1;
    
}

.matnamn {
    /* align-self: flex-start; */
}
.matpris {
    /* align-self: flex-end; */
}
.innehåll {
    /* font-size: 0.7rem;
    margin-top: 0.5em; */
}

}

.menyval-info {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.icon {
    background-color: var(--mainWhite);
    display: flex;
    align-self: flex-end;
    padding: 0.5em;
    margin: 1em;
    position: relative;
    border-radius: 6px;

	.reddott {
		background-color: var(--mainRed);
    color: var(--mainWhite);
    font-size: 0.8rem;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -0.5rem;
    right: -0.5rem;
	}


}

.reddott.displaynone {
	display: none;
}

.dippval {
    background-color: var(--lightGray);
    
    padding: 1.5em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
	
   

    .dippcontainer {
       display: flex;
	   flex-direction: row;
	   flex-wrap: wrap;
        margin-bottom: 1em;
        
    }

	.flexdipp {
		
	}

    .dippsås {
		
        background-color: var(--buttonGray);
        color: var(--mainWhite);
        border: 0;
        padding: 0.5em;
        font-weight: 600;
        border-radius: 6px;
    }

}


.drickval {
    background-color: var(--lightGray);
    
    padding: 1.5em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    border-radius: 8px;
   

    .drickcontainer {
        display: flex;
        flex-direction: row;
		flex-wrap: wrap;
        margin-bottom: 1em;
        
    }

    .drickor {
        background-color: var(--buttonGray);
        color: var(--mainWhite);
        border: 0;
        padding: 0.5em;
        font-weight: 600;
        border-radius: 6px;
    }

}

button {
	border: none;
	color: var(--mainWhite);
	background-color: #898383;
	padding: 0.5rem;
	border-radius: 0.4rem;
	font-size: 14px;
	cursor: pointer;
	margin: 0.4em;
}

button:hover{
	background-color: var(--darkGray);
}

.dippsås:hover {
	background-color: var(--darkGray);
}

.drickor:hover {
	background-color: var(--darkGray);
}